@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --roboto: "Roboto", sans-serif;
}
html {
  font-size: 16px;
}
body {
  font-family: var(--roboto);
  background-color: #f2f1f6;
}
.max-width {
  max-width: 1920px;
}

@media screen and (max-width: 1370px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 11px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
/* general */
